#intro { text-align: center;


}
#me { text-align:center;
    }
#c64-loop {
    float:right;
    height: 600px;
    width: 40%;


}
#c64-program{ float: left;
    height: 600px;
width:40%;}

#c64text {
    width: 25%;
    float: up;
}
#c64system {
    
    height: 250px;
    margin-left: 45%;
}
#footerText {
    text-align: center;
    padding-left: 1000px;
    font-size:1em;
    margin:0 40% 0 0;

}
.clearfix{
    clear: both;

}
.c64 {
    margin-top: 5 px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: auto;

    
}
body {
    color: #000;
    background: rgb(8,147,251);
background: linear-gradient(75deg, rgba(8,147,251,1) 0%, rgba(255,249,249,1) 36%, rgba(255,249,249,1) 74%, rgba(8,147,251,1) 100%);
}

p {
    text-align: center;
    font-size: 2em;
   
    
}
img {
    margin: 25px auto;
}